<div
  class="card"
  style="width: 18rem; position: relative; overflow: hidden"
  (mouseover)="onCardHover()"
  (mouseleave)="onCardLeave()"
>
  <img
    [@cardHover]="isHovered"
    class="card-img-top"
    src="../../../assets/recipe-imgs/download.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <div class="overlay-card" *ngIf="isHovered">
    <div (click)="onNavigation()" class="btn btn-primary">More Details</div>
  </div>
</div>
