<footer class="footer container">
  <div class="wrapper">
    <div class="footer-body">
      <div class="footer-info">
        <p class="footer-text">
          Explore our culinary creations, visit us to savor the flavors, and
          stay connected with our latest recipes. Embark on a delightful journey
          with us!
        </p>
      </div>
      <div class="footer-social">
        <h3 class="social-title">Social</h3>
        <ul class="social-links">
          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Linkedin.svg"
                alt="linkedin"
              />
            </a>
          </li>

          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Github.svg"
                alt="GitHub"
              />
            </a>
          </li>
          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Instagram.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Telegram.svg"
                alt="Telegram"
              />
            </a>
          </li>

          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Discord.svg"
                alt="Discord"
              />
            </a>
          </li>

          <li class="social-link">
            <a target="_blank">
              <img
                src="../../../assets/social/social-links/Facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copiright">
      <div class="line"></div>
      <p class="copyright-text">
        © Copyright 2023. Made by <a (click)="navHome()">Erekle Ratiani</a>
      </p>
    </div>
  </div>
</footer>
