.container--page {
  padding: 0 15px;
  background-color: #f3f2fa;
  padding-top: 40px;
  padding-bottom: 40px;

  .container--card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 98px;

    .card--content--return--btn {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-color: #ffffff;
      margin-right: 20px;
    }
    .card--content--return--btn > img {
      max-width: 100%;
    }
  }
  .container--card-content--inner {
    width: 80%;
    margin: 0 auto;

    .container--image > img {
      width: 100%;
    }
    .card--author {
      font-size: 16px;
      line-height: 20px;
      margin-top: 40px;
      margin-bottom: 8px;
      color: #1a1a1f;
    }

    .dot {
      width: 3px;
      height: 3px;
      background-color: #85858d;
      margin: 0 5px;
      border-radius: 50%;
    }
    .card--title {
      font-size: 20px;

      line-height: 28px;
      color: #1a1a1f;
      margin-top: 0px;
      margin-bottom: 24px;
      overflow: hidden;
    }
    .card--ingredient--container {
      font-size: 12px;
      display: flex;
      height: auto;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    .card--ingredient--container > span {
      border-radius: 30px;
      height: 28px;
      padding: 6px 10px 6px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card--description {
      font-size: 16px;
      line-height: 28px;
      color: #404049;
      overflow: hidden;
      margin-top: 0px;
      margin-bottom: 16px;
    }
    .card--header {
      font-size: 20px;
      line-height: 28px;
      color: #404049;
      overflow: hidden;
      margin-top: 0px;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }
  @media only screen and (min-width: 600px) {
    padding: 0 76px;
    .container--card-content {
      .card--content--return--btn {
        width: 44px;
        height: 44px;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .container--card-content--inner {
      width: 720px;
    }
  }
}
