<app-header></app-header>
<section class="container--page container">
  <div class="container--form d-flex flex-column flex-sm-row">
    <div
      class="col-12 col-sm-3 pe-4 ps-sm-4 d-flex justify-content-end justify-content-sm-start"
    >
      <a
        style="cursor: pointer"
        (click)="goBack()"
        class="form--content--return--btn"
        ><img src="../../../assets/arrow-left-black.png" alt="return arrow"
      /></a>
    </div>
    <div class="container--form--inner col-12 col-sm-8">
      <h2 class="title--form">Edit Recipe</h2>
      <form [formGroup]="recipeCreateForm" (ngSubmit)="updateRecipe()">
        <div class="author--title--wrapper row justify-content-between">
          <div class="form--title col-sm-12 col-md-5">
            <label for="title--inp">Title *</label>
            <input
              formControlName="title"
              id="title--inp"
              placeholder="Enter Title"
              type="text"
              class="title--input"
            />
            <p
              class="validation--1"
              [style.color]="redOrGreenColor('title', 'minlength')"
            >
              <span
                [style.backgroundColor]="redOrGreenColor('title', 'minlength')"
                class="dot"
              ></span
              >Min Length 2
            </p>
            <p
              class="validation--1"
              [style.color]="redOrGreenColor('title', 'required')"
            >
              <span
                [style.backgroundColor]="redOrGreenColor('title', 'required')"
                class="dot"
              ></span
              >Required Field
            </p>
          </div>
          <div class="ingredients col-sm-12 col-md-6">
            <div formArrayName="ingredients">
              <label for="title--inp">Ingredients *</label>

              <div
                *ngFor="let control of getFormArrayControls; let i = index"
                class="row"
              >
                <input
                  [formControl]="control"
                  placeholder="Type Ingredient"
                  type="text"
                  [id]="'ingredient--inp' + i"
                  [ngClass]="'ingredient--inp'"
                  class="ingredient--input col-9 col-md-10"
                />
                <button
                  class="btn btn-danger ms-2 col-2 col-md-1"
                  type="button"
                  *ngIf="getFormArrayControls.length > 1"
                  (click)="removeFormControl(i)"
                >
                  X
                </button>
                <p
                  class="validation--1"
                  [style.color]="redOrGreenColor('ingredients', 'required', i)"
                >
                  <span
                    [style.backgroundColor]="
                      redOrGreenColor('ingredients', 'required', i)
                    "
                    class="dot"
                  ></span
                  >Required Field
                </p>
              </div>
              <button
                class="btn btn-primary"
                type="button"
                (click)="addFormControl()"
              >
                Add ingredient
              </button>
            </div>
          </div>
        </div>
        <div class="description--wrapper">
          <label class="desc--from--label" for="desc--from"
            >Description *</label
          >
          <textarea
            formControlName="description"
            class="form-txt-area"
            id="desc--from"
            name=""
            cols="30"
            rows="10"
            placeholder="Enter Description"
          ></textarea>
          <p
            class="validation--1"
            [style.color]="redOrGreenColor('description', 'minlength')"
          >
            <span
              [style.backgroundColor]="
                redOrGreenColor('description', 'minlength')
              "
              class="dot"
            ></span
            >Min Length 4
          </p>
          <p
            class="validation--1"
            [style.color]="redOrGreenColor('description', 'required')"
          >
            <span
              [style.backgroundColor]="
                redOrGreenColor('description', 'required')
              "
              class="dot"
            ></span
            >Required Field
          </p>
        </div>
        <div class="instruction--wrapper">
          <label class="inst--from--label" for="inst--from"
            >Instructions *</label
          >
          <textarea
            formControlName="instructions"
            class="form-txt-area"
            id="inst--from"
            name=""
            cols="30"
            rows="10"
            placeholder="Enter Instructions"
          ></textarea>
          <p
            class="validation--1"
            [style.color]="redOrGreenColor('instructions', 'minlength')"
          >
            <span
              [style.backgroundColor]="
                redOrGreenColor('instructions', 'minlength')
              "
              class="dot"
            ></span
            >Min Length 4
          </p>
          <p
            class="validation--1"
            [style.color]="redOrGreenColor('instructions', 'required')"
          >
            <span
              [style.backgroundColor]="
                redOrGreenColor('instructions', 'required')
              "
              class="dot"
            ></span
            >Required Field
          </p>
        </div>

        <div class="container--btn">
          <button
            [disabled]="!recipeCreateForm.valid"
            [style.backgroundColor]="
              recipeCreateForm.valid ? '#5d37f3' : 'white'
            "
            class="submit--btn"
            type="submit"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
