/* General styling for labels and paragraphs */
label,
p {
  margin: 0;
  margin-bottom: 8px;
}

/* General styling for labels */
label {
  font-size: 14px;
  color: #1a1a1f;
  font-weight: 500;
}

/* General styling for paragraphs */
p {
  margin: 0;
  margin-bottom: 8px;
}

/* Red text */
.red {
  color: red;
}

/* Green background */
.green {
  background-color: rgb(163, 175, 163);
  border-bottom: 2px solid green !important;
}

/* Container width */
.form--content--return--btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 24px;
  background-color: #e4e3eb;
}
.container--form {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
  @media only screen and (min-width: 600px) {
    width: auto;
  }
}
.form--content--return--btn > img {
  max-width: 100%;
}
.container--page {
  background-color: #fbfaff;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 110px;
}
.container--form {
  display: flex;

  align-items: flex-start;
}

.title--form {
  font-size: 32px;
  line-height: 50px;
  color: #1a1a1f;
  margin-bottom: 40px;
}

/* Title form */
.form--title {
  display: flex;
  flex-direction: column;
}

/* Title input */
#title--inp {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #fcfcfd;
  border: 1px solid #e4e3eb;
  border-radius: 12px;
  transition: all 1.5s;
  outline: none;
}

#title--inp:focus,
#title--inp:hover {
  background-color: #e6e6f0;
  border: 1px solid #5d37f3;
}
/* ingredient input */
.ingredient--inp {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #fcfcfd;
  border: 1px solid #e4e3eb;
  border-radius: 12px;
  transition: all 1.5s;
  outline: none;
}

.ingredient--inp:focus,
.ingredient--inp:hover {
  background-color: #e6e6f0;
  border: 1px solid #5d37f3;
}

/* Dot styling */
.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-bottom: 1.5px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #85858d;
}

/* Description wrapper */
.description--wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
/* instruction wrapper */
.instruction--wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
/* Text area form */
.form-txt-area {
  outline: none;
  margin-bottom: 8px;
  border: 1px solid #e4e3eb;
  border-radius: 12px;
  background-color: #fcfcfd;
  padding: 12px 16px 16px 16px;
  transition: all 1.5s;
}

.form-txt-area:focus,
.form-txt-area:hover {
  background-color: #e6e6f0;
  border: 1px solid #5d37f3;
}

.container--btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container--btn > button {
  width: 188px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-radius: 12px;
  outline: none;
  background-color: #5d37f3;
  margin-top: 40px;
  transition: all 0.7s;
}

.container--btn > button:hover {
  background-color: #4326bb;
}
