.container--recipe {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 580px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
